html,
body {
  margin: 0;
  padding: 0;
}

.genres {
  font-size: 80px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 100px;
}

.Action {
  background-color: dodgerblue;
  flex-basis: 500px;
  height: 100px;
  flex-grow: 1;
}

.Thriller {
  background-color: rgb(190, 178, 178);
  flex-basis: 500px;
  height: 100px;
  flex-grow: 10;
}

.Comedy {
  background-color: rgb(255, 214, 30);
  flex-basis: 500px;
  height: 100px;
  flex-grow: 10;
}

.Horror {
  background-color: black;
  color: white;
  flex-basis: 500px;
  height: 100px;
  flex-grow: 1;
}

.Drama {
  background-color: darkgrey;
  flex-basis: 500px;
  height: 100px;
  flex-grow: 1;
}

.Romance {
  background-color: red;
  flex-basis: 500px;
  height: 100px;
  flex-grow: 1;
}
